upstream app {
    server green:8080;
}

server {
    listen 80;

    location / {
        proxy_pass http://app;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    location /stub_status {
            stub_status on;
            allow 172.0.0.0/8;
            deny all;
        }
}
