upstream app {
    server green:8080;
}

server {
    listen 80;
    server_name api.care-na.com;

    location /.well-known/acme-challenge {
                root /var/lib/letsencrypt/;
            }

    location / {
        proxy_pass http://app;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
